.rounded-circle {
  /*border-radius: 50%!important;*/
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
  border-color: rgb(12,129,247);
  border-radius: 2px;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
  border-radius: 2px;
  border-color: #fff;
}

#carousel-1 {
  position: sticky;
}

body, h1, h2, h3, h4, h5, h6 {
  /*margin-top: 50px;*/
  margin-bottom: 50px;
}

#carousel-1 {
}

.w-100 {
  max-width: 75%!important;
  height: auto;
}

.w-100.d-block {
  max-width: 75%!important;
  height: auto;
}

.w-100.d-block {
  max-width: 75%!important;
  height: auto;
}

.btn.btn-primary.center-block {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 80px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 40px;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .col {
    padding: 0px;
  }
}

@media (max-width: 500px) {
  .d-lg-flex.align-items-lg-center {
    align-items: center;
    align-content: center;
    align-self: center;
    width: 50%!important;
    order: 2;
  }
}

.card-body {
  color: rgba(5,136,62,0.58);
}

.card-body {
  border: none;
  padding: 0px;
}

img, svg {
}

.card-group > .card:not(:last-child) {
  border: none;
}

@media (min-width: 500px) {
  .card-body.text-center {
    border: none !important;
    outline: none;
    padding: 0px;
  }
}

p {
  text-align: center;
  color: #000000;
}

@media (max-width: 450px) {
  .align-items-lg-center {
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  #tech {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.card-body.text-center.border-white {
  padding: 0px;
  border: none;
}

@media (max-width: 500px) {
  .col-lg-8.flex-row {
    order: 1;
  }
}

@media (max-width: 500px) {
  #IAS {
    width: 100px!important;
    height: 66px!important;
  }
}

@media (max-width: 500px) {
  #IEEE {
    width: 160px;
    height: 75px!important;
  }
}

@media (max-width: 500px) {
  img, svg {
    width: 100%!important;
  }
}

